#### Reference

https://tcoil.info/get-full-list-of-nikkei-225-index-companies-components-with-python/

In [1]:
import pandas as pd

# There is only one table on the page
payload=pd.read_html('https://topforeignstocks.com/indices/the-components-of-the-nikkei-225-index/')

table_0 = payload[0]
df = table_0

In [2]:
df.head()

   S.No.           Company Name  Code            Industry
0      1        ADVANTEST CORP.  6857  Electric Machinery
1      2         AEON CO., LTD.  8267              Retail
2      3               AGC INC.  5201    Glass & Ceramics
3      4    AJINOMOTO CO., INC.  2802               Foods
4      5  ALPS ALPINE CO., LTD.  6770  Electric Machinery

In [4]:
symbols = df['Code'].values.tolist()
print(symbols[:15])

[6857, 8267, 5201, 2802, 6770, 6113, 9202, 8304, 2502, 3407, 4503, 7832, 5108, 7751, 6952]

In [5]:
names = df['Company Name'].values.tolist()
print(names[:15])

['ADVANTEST CORP.', 'AEON CO., LTD.', 'AGC INC.', 'AJINOMOTO CO., INC.', 'ALPS ALPINE CO., LTD.', 'AMADA CO., LTD.', 'ANA HOLDINGS INC.', 'AOZORA BANK, LTD.', 'ASAHI GROUP HOLDINGS, LTD.', 'ASAHI KASEI CORP.', 'ASTELLAS PHARMA INC.', 'BANDAI NAMCO HOLDINGS INC.', 'BRIDGESTONE CORP.', 'CANON INC.', 'CASIO COMPUTER CO., LTD.']

#### Reference

https://qiita.com/higebobo/items/58a912a9b75313cffa46

### SBI証券バージョン

In [6]:
import pandas as pd
url = 'https://site1.sbisec.co.jp/ETGate/?OutSide=on&_ControlID=WPLETmgR001Control&_PageID=WPLETmgR001Mdtl20&_DataStoreID=DSWPLETmgR001Control&_ActionID=DefaultAID&getFlg=on&burl=search_market&cat1=market&cat2=none&dir=info&file=market_meigara_225.html'
# テーブルリストを取得
table_list = pd.read_html(url)
# 2番目が該当するテーブルなのでデータフレーム化
df_nk225_sbi = table_list[1]
# 最初の2カラムのみ残す
df_nk225_sbi = df_nk225_sbi.iloc[:, [0, 1]]
# カラム名を指定
df_nk225_sbi.columns = ['symbol', 'name']
# インデックスの設定
df_nk225_sbi = df_nk225_sbi.set_index('symbol')

In [7]:
df_nk225_sbi

                name
symbol
1332            日本水産
1605           INPEX
1721    コムシスホールディングス
1801            大成建設
1802             大林組
...              ...
9613    エヌ・ティ・ティ・データ
9735             セコム
9766     コナミホールディングス
9983     ファーストリテイリング
9984      ソフトバンクグループ

[225 rows x 1 columns]

### fragment.database.バージョン

In [8]:
import pandas as pd
url = 'http://www13.plala.or.jp/bigdata/nikkei225.html'
# 1行目をヘッダとしてテーブルリストを取得
table_list = pd.read_html(url, header=[0])
# 5番目が該当するテーブルなので最下行のタイトル行を落としてデータフレーム化
df_nk225_fd = table_list[4][:-1]
# 最初の2カラムのみ残す
df_nk225_fd = df_nk225_fd.iloc[:, [0, 1]]
# df_nk225_fd = df_nk225_fd.rename(columns={'コード': 'symbol', '銘柄名': 'name' })
# カラム名を指定
df_nk225_fd.columns = ['symbol', 'name']
# インデックスの設定
df_nk225_fd = df_nk225_fd.set_index('symbol')

In [9]:
df_nk225_fd

         name
symbol
4151    協和キリン
4502       武田
4503    アステラス
4506    大日本住友
4507      塩野義
...       ...
9501     東電ＨＤ
9502      中部電
9503      関西電
9531      東ガス
9532      大ガス

[225 rows x 1 columns]

#### Reference

https://qiita.com/kanagii_codes/items/d33f3b1532802413e619

In [11]:
import pandas as pd

##東証から上場企業の一覧を取得
!wget 'https://www.jpx.co.jp/markets/statistics-equities/misc/tvdivq0000001vg2-att/data_j.xls'

codelist = pd.read_excel("./data_j.xls")

## 各市場を整理
firstSectionCodeList = codelist.loc[codelist["市場・商品区分"] == "市場第一部（内国株）"]
secondSectionCodeList = codelist.loc[codelist["市場・商品区分"] == "市場第二部（内国株）"]
mothersCodeList = codelist.loc[codelist["市場・商品区分"] == "マザーズ（内国株）"]
jasdaqStandardCodeList = codelist.loc[codelist["市場・商品区分"] == "JASDAQ(スタンダード・内国株）"]
jasdaqGrowthCodeList = codelist.loc[codelist["市場・商品区分"] == "JASDAQ(グロース・内国株）"]

## TOPIXを整理
topix100CodeList = codelist.loc[codelist["規模区分"].isin([ "TOPIX Core30" ,  "TOPIX Large70" ])]
topix500CodeList = codelist.loc[codelist["規模区分"].isin([ "TOPIX Core30" ,  "TOPIX Large70"  ,  "TOPIX Mid400" ])]
topix1000CodeList = codelist.loc[codelist["規模区分"].isin([ "TOPIX Core30" ,  "TOPIX Large70"  ,  "TOPIX Mid400", "TOPIX Small 1"])]
topixCodeList = codelist.loc[codelist["規模区分"].isin([ "TOPIX Core30" ,  "TOPIX Large70"  ,  "TOPIX Mid400", "TOPIX Small 1", "TOPIX Small 2"])]

--2023-05-02 09:35:00--  https://www.jpx.co.jp/markets/statistics-equities/misc/tvdivq0000001vg2-att/data_j.xls
www.jpx.co.jp (www.jpx.co.jp) をDNSに問いあわせています... 23.10.4.117
www.jpx.co.jp (www.jpx.co.jp)|23.10.4.117|:443 に接続しています... 接続しました。
HTTP による接続要求を送信しました、応答を待っています... 200 OK
長さ: 783872 (766K) [application/vnd.ms-excel]
`data_j.xls.1' に保存中

data_j.xls.1        100%[===================>] 765.50K  --.-KB/s 時間 0.1s

2023-05-02 09:35:00 (7.81 MB/s) - `data_j.xls.1' へ保存完了 [783872/783872]

In [16]:
codelist

,日付,コード,銘柄名,市場・商品区分,33業種コード,33業種区分,17業種コード,17業種区分,規模コード,規模区分
0,20230331,1301,極洋,プライム（内国株式）,50,水産・農林業,1,食品,7,TOPIX Small 2
1,20230331,1305,ダイワ上場投信－トピックス,ETF・ETN,-,-,-,-,-,-
2,20230331,1306,ＮＥＸＴ ＦＵＮＤＳ ＴＯＰＩＸ連動型上場投信,ETF・ETN,-,-,-,-,-,-
3,20230331,1308,上場インデックスファンドＴＯＰＩＸ,ETF・ETN,-,-,-,-,-,-
4,20230331,1309,ＮＥＸＴ ＦＵＮＤＳ ＣｈｉｎａＡＭＣ・中国株式・上証５０連動型上場投信,ETF・ETN,-,-,-,-,-,-
...,...,...,...,...,...,...,...,...,...,...
4248,20230331,9993,ヤマザワ,スタンダード（内国株式）,6100,小売業,14,小売,7,TOPIX Small 2
4249,20230331,9994,やまや,スタンダード（内国株式）,6100,小売業,14,小売,7,TOPIX Small 2
4250,20230331,9995,グローセル,プライム（内国株式）,6050,卸売業,13,商社・卸売,7,TOPIX Small 2
4251,20230331,9996,サトー商会,スタンダード（内国株式）,6050,卸売業,13,商社・卸売,-,-
4252,20230331,9997,ベルーナ,プライム（内国株式）,6100,小売業,14,小売,6,TOPIX Small 1